<div id="div-corrida">
  <h2>Cadastro de corrida</h2>
  <form id="form-corrida" (ngSubmit)="dadosFormulario()">

    <input type="hidden" name="id" [(ngModel)]="id">

    <label for="descricao_corrida">Corrida</label> 
    <input type="text" name="descricao_corrida" [(ngModel)]="descricao_corrida" id="descricao_corrida" class="input01" required maxlength="80" placeholder="Descrição corrida">

    
    <label for="data_corrida">Data</label> 
    <input type="date" name="data_corrida" [(ngModel)]="data_corrida" id="data_corrida" class="input02" required>
    
    
    <label>Distância</label> 
   
    <div>
      <input type="checkbox" name="distancia_5km" id="dist_5km" class="BtnSelecao" [(ngModel)]="distancia_5km">
      <label for="dist_5km">5km</label>

      <input type="checkbox" name="distancia_10km" id="dist_10km" class="BtnSelecao" [(ngModel)]="distancia_10km">
      <label for="dist_10km">10km</label>

      <input type="checkbox" name="distancia_25km" id="dist_25km" class="BtnSelecao" [(ngModel)]="distancia_25km">
      <label for="dist_25km">25km</label>
    </div> 
 
    <button type="submit" id="BtnAdd">Cadastrar Corrida</button>
  </form>
</div>