<div id="div-corrida">
    <h2>Cadastro de corrida</h2>
    <form id="form-corrida">

      <label for="corrida">Corrida</label> 
      <input type="text" name="corrida" [(ngModel)]="corrida" id="corrida" class="input01" required maxlength="80" placeholder="Descrição corrida">
  
      <label for="data-corrida">Data</label> 
      <input type="date" name="data" [(ngModel)]="dataCorrida" id="data_corrida" class="input02" required>
      
      <label>Distância</label> 
     
      <div>
        <input type="radio" name="distancia" id="dist_10km" class="BtnSelecao" value="10km" [(ngModel)]="distancia"><label for="dist_10km">10km</label>
        <input type="radio" name="distancia" id="dist_20km" class="BtnSelecao" value="20km" [(ngModel)]="distancia"><label for="dist_20km">20km</label>
        <input type="radio" name="distancia" id="dist_30km" class="BtnSelecao" value="30km" [(ngModel)]="distancia"><label for="dist_30km">30km</label>
    </div> 
   
      <button type="button" id="BtnAdd" (click)="exibeDados()">Cadastrar Corrida</button>
    </form>
</div>