<header id="cabecalho">
    <div id="logo">
        Esporte <span id="titulo-logo">Ar Livre</span>
    </div>

    <nav id="menu">
        <ul id="menu-ul">
            <li><a routerLink="/home" class="lnk-menu">Home</a></li>
            <li><a routerLink="/cadastroatleta" class="lnk-menu">Cadastro Atleta</a></li>
            <li><a routerLink="/corrida-component" class="lnk-menu">Cadastro Corrida</a></li>
            <li><a routerLink="/disponiveis-component" class="lnk-menu">Corridas</a></li>
            <li><a routerLink="/listaatleta" class="lnk-menu">Lista atleta</a></li>
        </ul>
    </nav>
</header>