<header id="cabecalho">
    <div id="logo">
        Esporte <span id="titulo-logo">ArLivre</span>
    </div>

    <nav id="menu">
        <ul id="menu-ul">
            <li><a href="#" class="lnk-menu">Home</a></li>
            <li><a href="#" class="lnk-menu">Cadastro Atleta</a></li>
            <li><a href="#" class="lnk-menu">Cadastro Corrida</a></li>
            <li><a href="#" class="lnk-menu">Corridas</a></li>
            <li><a href="#" class="lnk-menu">Inscrição</a></li>
        </ul>
    </nav>
</header>