#cabecalho {
    background-color: var(--cor-secundaria);
    width: 1000px;
    height: 100px;
    margin: 20px auto;
    padding: 15px;
    justify-content: space-between;
}

#logo {
    
    width: 180px;
}

#menu-ul {
    width: 790px;
    list-style: none;
    justify-content: right;
}

.lnk-menu{
    text-decoration: none;
    padding: 0px 10px;
    font-size: 16px;
    color: var(--branca);
    transition: 0.5s ease;
}

.lnk-menu:hover{
    opacity: 0.5;
}