
<div id="div-disponiveis">
    <div class="card-corridas">
        <h2>Corridas Disponíveis</h2>
      
        <table>

          <thead>
            <tr>
              <th>Descrição</th>
              <th>Data</th>
              <th>Distâncias</th>
              <th>Ação</th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <td>Circuito das Estações - Etapa Verão</td>
              <td>15/11/2026</td>
              <td>5km, 10km</td>
              <td><button>Inscrever-se</button></td>
             </tr>
             <tr>
              <td>Desafio das Montanhas</td>
              <td>05/12/2026</td>
              <td>5km, 10km, 25km</td>
              <td><button>Inscrever-se</button></td>
            </tr>
          </tbody>
        </table>
      </div>