<div class="card-corridas">
  <h2>Corridas Disponíveis</h2>

  <table>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Data</th>
        <th>Distâncias</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      @for (elem of listaCorridas(); track elem.id) {
        <tr>
          <td>{{ elem.descricao_corrida }}</td>
          <td>{{ elem.data_corrida }}</td>
          <td>
            {{ elem.distancia5km ? '5km' : '' }}
            {{ elem.distancia10km ? (elem.distancia5km ? ', 10km' : '10km') : '' }}
            {{ elem.distancia25km ? (elem.distancia5km || elem.distancia10km ? ', 25km' : '25km') : '' }}
          </td>
          <td>
            <div class="acoes">
              <button class="btn-inscrever" (click)="carregandoDadosForm(elem)">Editar</button>
              <button class="btn-excluir" (click)="excluir(elem)">Excluir</button>
            </div>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="sem-registros">NENHUM REGISTRO NA LISTA</td>
        </tr>
      }
    </tbody>
  </table>
</div>